Protyo.EmailSubscriptionService/bin/ 
Protyo.EmailSubscriptionService/obj/ 
Protyo.DatabaseRefresh/bin/ 
Protyo.DatabaseRefresh/obj/ 
Protyo.Utilities/bin/ 
Protyo.Utilities/obj/ 
Protyo.WebService/bin/ 
Protyo.WebService/obj/ 
